<div class="container py-5" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
    <div class="card" style="width:100%; max-width: 35rem; background-color: #9da3f0; margin-top: 80px;">
        <h3 class="text-center mb-3" style="padding: 30px;">LOGIN</h3>
        <div class="card-body">
            <form action="/login" method="POST">
                <% if(locals.messages.success){ %>
                    <div class="alert alert-success" role="alert">
                        <%= locals.messages.success %>
                    </div>
                    <% } %>
                        <% if(locals.messages.error){ %>
                            <div class="alert alert-danger" role="alert">
                                <%= locals.messages.error %>
                            </div>
                            <% } %>
                                <div class="mb-3">
                                    <label class="form-label">Username</label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <ion-icon name="person-circle-outline"></ion-icon>
                                        </div>
                                        <input name="username" type="text" class="form-control" placeholder="Username">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <div class="input-group">
                                        <div class="input-group-text">
                                            <ion-icon name="lock-closed-outline"></ion-icon>
                                        </div>
                                        <input name="password" type="password" class="form-control"
                                            placeholder="Password">
                                    </div>
                                </div>
                 <button style="width: 50%; padding: 15 px; background-color: #505AC9; margin-left: 130px;" type="submit" class="btn btn-primary">Login</button>
                 <p class="m-0" style="padding: 10px;">Don't have an account?<a href="/signup" style="text-decoration: none;">  Sign Up</a></p>
            </form>
        </div>
    </div>
</div>
<style>
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>

